.user {
  border: 1px solid black;
  padding: 0.5rem;
  margin-right: 1%;
  background: gray;
  color: white;
}

.deck {
  border: 1px solid green;
  padding: 0.5rem;
  margin-right: 1%;
  background: gray;
  color: white;
}

.card {
  border: 1px solid purple;
  padding: 0.5rem;
  margin-right: 1%;
  background: gray;
  color: white;
}

#info {
  width: 40%;
  display: flex;
  flex-direction: row;
  /* justify-content: left; */
  /* align-content: center; */
}

#app {
  margin: 1rem;
  color: white;
}