#nav-bar {
    background: darkslategray;
    color: white;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

#nav-right {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: white;
    margin: 0.5rem;
    text-decoration: none;
}